nav {
  background-color: #8dc53f;
  position: fixed;
  color: #004138;
  top: 0;
  left: 0;
  right: 0;
  z-index: .5rem;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 2em;
}

.right {
  position: relative;
  float: right;
  padding: .25rem;
  margin-right: .75rem;
}

.left {
  position: relative;
  float: left;
  padding: .25rem;
  margin: .25rem;
}

a {
  color: #004138;
  text-decoration: none;
}

.btn {
  cursor: pointer;
}

.btn a:active {
top: .1rem;
}


