footer {
  position: relative;
  background-color: #8dc53f;
  color: #004138;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  padding: 1% 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
