.header {
  background-color: #8dc53f;
  padding: 0.5em;
}

.right {
  float: right;
  display: inline-block;
}

.left {
  float: left;
  display: inline-block;
  margin: 20px;
}

p {
  font-size: 0.75em;
}

.container {
  display: inline-flex;
  vertical-align: center;
  padding: 20px;
}
