/* Universal */

body {
  margin: 0;
  font-family: -apple-systrem, BlinkMacSystremFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;

}

html {
  font-size: 16px;
}

body {
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 400;
  font-size: 18px;
  color: #3A452B;
  text-align: center;
  line-height: 1.5rem;
  
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

h3, h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  
}

h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

p {
  font-size: 1rem;
}

section {
  padding: 5% 0;
  height: auto;
}


#hero {
  background-image:
  url("./images/moneybackground.png");
  background-size: cover;
	padding: 550px 0;
  color: white;
  font-size: 2rem;
  width: 100%;
}

#hero-footer {
  background-image:
  url("./images/moneybackground.png");
  background-size: cover;
	padding: 225px 0;
  color: white;
  width: 100%;
  
}
.banner-top {
  background-image:
  url("./images/moneybackground.png");
  height:12rem;
  width: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}
.banner-bottom {
  background-image:
  url("./images/moneybackground.png");
  height:10rem;
}

.dark-mode {
  background-color: #004138;
  color: white;
}
.medium-mode {
  background-color: #8dc53f;
  color: white;
}
.light-mode {
  background-color: white;
  color: #3A452B;
}


img.left {
  display: inline;
  float: left;
}

img.right {
  display: inline;
  float: right;
}

.space {
  display: flex;
  justify-content: space-around;
}



.stat-box  {
  width: 250px;
  height: auto;
  display: inline-block;
  margin: 30px;
  padding: 15px;
  border: 2px solid grey;
}

.visual-box {
  width: 450px;
  height: auto;
  display: inline-block;
  margin: 30px;
  padding: 15px;
  border: 2px solid grey;
}

input {
  width: 5rem;
  padding: 5px;
  margin: 10px;
}


/* buttons */
.myButton {
  display: flex;
	box-shadow:inset -50px -50px 25px -35px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Josefin Sans', sans-serif;
	font-size:16px;
  padding:6px 17px;
  font-weight: 500;
	text-decoration:none;
  text-shadow:2px 2px 0px #5b8a3c;
  margin: 5px;

}
.myButton:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

@media only screen and (min-width: 360px) {
  
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 720px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 980px) {
  html {
    font-size: 20px;
  }
}